# Секреты и конфиги
.env

# Папка с сохранениями чатов
chats/

# Python мусор
__pycache__/
*.py[cod]
*$py.class

# Линтеры и типизация
.mypy_cache/
.ruff_cache/

# Виртуальное окружение
venv/
.venv/
env/

# Системные файлы
.DS_Store